.Button {
    color: var(--inverted-secondary-color);
    &.clear {
        padding: 0;
        border: none;
        outline: none;
        background-color: transparent;
        cursor: pointer;
    }
    &.outline {
        background-color: transparent;
        padding: 10px;
        border:1px solid var(--primary-color);
        color: var(--primary-color);
    }
}   
