.app.dark {
    --bg-color: #09094b;
    --inverted-bg-color:  #e8e8ea;
    --primary-color:#009700;
    --secondary-color: #04ff04;
    --inverted-primary-color:#0333c4;
    --inverted-secondary-color: #0452ff;
}