.app.light {
    --bg-color: #e8e8ea;
    --inverted-bg-color: #09094b;
    --primary-color:#0333c4;
    --secondary-color:  #0452ff
    --inverted-primary-color:#009700;
    --inverted-secondary-color: #04ff04;
} 